#include "../demo-rmt/defconfig"

# Published category network tools, using the existing local sources.
CONFIG_LIB_ZLIB=y
CONFIG_LIB_CURL=y
CONFIG_UTILS_CURL=y
CONFIG_UTILS_CURL_STACKSIZE=16384
CONFIG_LIBC_FLOATINGPOINT=y
CONFIG_PIPES=y
CONFIG_LIBC_LOCALE=y
CONFIG_NETUTILS_FTPD=y
CONFIG_EXAMPLES_FTPD=y
CONFIG_EXAMPLES_FTPD_STACKSIZE=8192
CONFIG_FTPD_WORKERSTACKSIZE=8192
CONFIG_NET_TCPBACKLOG=y
