#include "../demo-rmt/defconfig"
# xTS common functional tests 1.1.1 through 1.1.3.
CONFIG_ALLOW_MIT_COMPONENTS=y
CONFIG_ARCH_SETJMP_H=y
CONFIG_TLS_LOG2_MAXSTACK=14
CONFIG_LIBC_REGEX=y
CONFIG_TESTING_CMOCKA=y
CONFIG_TESTING_CMOCKA_STACKSIZE=16384
CONFIG_TESTS_TESTSUITES=y
CONFIG_TESTS_TESTSUITES_STACKSIZE=16384
CONFIG_TESTS_TESTSUITES_MOUNT_DIR="/tmp"
CONFIG_CM_MM_TEST=y
CONFIG_CM_SCHED_TEST=y
CONFIG_CM_SYSCALL_TEST=y
CONFIG_PIPES=y
CONFIG_FS_LINKS=y
