# Generic hardware SPI2 master / C6 slave functional test.
#include "../xts-flat-rtc/defconfig"
CONFIG_ESPRESSIF_SPI2=y
CONFIG_ESPRESSIF_SPI2_CLKPIN=45
CONFIG_ESPRESSIF_SPI2_MOSIPIN=46
CONFIG_ESPRESSIF_SPI2_MISOPIN=47
CONFIG_ESPRESSIF_SPI2_CSPIN=48
CONFIG_SPI_EXCHANGE=y
CONFIG_SYSTEM_SPITOOL=y
CONFIG_SPITOOL_DEFFREQ=100000
CONFIG_SPITOOL_MINBUS=2
CONFIG_SPITOOL_MAXBUS=2
