# Korvo-1 + SUB3, camera identification precedes sensor writes.
#include "../korvo-rgb565/defconfig"
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_ESPRESSIF_I2C0=y
CONFIG_ESPRESSIF_I2C0_SCLPIN=1
CONFIG_ESPRESSIF_I2C0_SDAPIN=0
CONFIG_I2C_DRIVER=y
CONFIG_VIDEO_STREAM=y
CONFIG_SCHED_HPWORK=y
CONFIG_ESP32S31_CAMERA_OV3660=y
CONFIG_ESP32S31_CAMERA_DVP=y
CONFIG_ESP32S31_CAMERA_V4L2=y
CONFIG_ESP32S31_CAMERA_DVP_HRES=640
CONFIG_ESP32S31_CAMERA_DVP_VRES=480
CONFIG_ESP32S31_CAMERA_DVP_XCLK_FREQ=16000000
CONFIG_SYSTEM_I2CTOOL=y
