#include "../xts-flat/defconfig"

# J2 pin13 (GPIO47) to pin14 (GPIO48), external jumper required.
CONFIG_ESP32S31_XTS_GPIO=y
CONFIG_DEV_GPIO=y
CONFIG_ESPRESSIF_GPIO_IRQ=y
CONFIG_TESTING_DRIVER_GPIO=y
CONFIG_TESTING_DRIVER_GPIO_INPUT_PIN="/dev/gpio0"
CONFIG_TESTING_DRIVER_GPIO_OUTPUT_PIN="/dev/gpio1"
CONFIG_TESTING_DRIVER_GPIO_LOOP=1
CONFIG_TESTING_DRIVER_GPIO_INTERRUPT_TYPE=1
