#include "../demo-i2c/defconfig"
CONFIG_RMT=y
CONFIG_ESP_RMT=y
CONFIG_WS2812=y
CONFIG_WS2812_NON_SPI_DRIVER=y
CONFIG_WS2812_LED_COUNT=1
CONFIG_DEBUG_RMT=y
CONFIG_DEBUG_RMT_ERROR=y
CONFIG_EXAMPLES_S31LED=y
