#include "../xts-flat-rtc/defconfig"

# Isolated ADC1 raw sampling on GPIO47 / J2 pin13.
CONFIG_ANALOG=y
CONFIG_ADC=y
CONFIG_ESP32S31_XTS_ADC=y
CONFIG_EXAMPLES_ADC=y
CONFIG_EXAMPLES_ADC_DEVPATH="/dev/adc0"
CONFIG_EXAMPLES_ADC_SWTRIG=y
CONFIG_EXAMPLES_ADC_GROUPSIZE=1
CONFIG_EXAMPLES_ADC_NSAMPLES=20
