#include "../xts-flat-rtc/defconfig"

# Isolated half-duplex raw PCM profile for original audio xTS.
CONFIG_ESPRESSIF_I2C0=y
CONFIG_ESPRESSIF_I2C0_SCLPIN=50
CONFIG_ESPRESSIF_I2C0_SDAPIN=51
CONFIG_I2C_RESET=y
CONFIG_AUDIO=y
CONFIG_AUDIO_FORMAT_PCM=y
CONFIG_AUDIO_FORMAT_RAW=y
CONFIG_AUDIO_DRIVER_SPECIFIC_BUFFERS=y
CONFIG_ESP32S31_I2S=y
CONFIG_ESP32S31_AUDIO=y
CONFIG_ES8311_SRC_MCLK=y
CONFIG_ES8311_BUFFER_SIZE=4096
CONFIG_ES8311_NUM_BUFFERS=4
CONFIG_ES8311_WORKER_STACKSIZE=4096
CONFIG_PTHREAD_STACK_MIN=4096
